# Lösungen zu den Aufgaben 1.3

- Laden Sie die Daten ../../data/atlantis.csv in einen DataFrame mit namen df
- Wieviele Zeilen und Spalten hat der DataFrame?
- Geben Sie die Spaltentitel aus
- Welche Datentypen haben die Daten der jeweiligen Spalten
- Wie groß ist die durchschnittliche "population"?
- Geben Sie nur Zeilen aus, mit einer Population > 25.000

In [6]:
# Die Pandas Bibliothek muss installiert sein und wird hier über den import Befehl geladen.
import pandas as pd

# Hinweis: Der Pfadname ergibt sich aus der Projektstruktur
df = pd.read_csv('../data/atlantis.csv')

In [7]:
for col in df.columns.sort_values():
    print(col)

population
year

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        22 non-null     int64
 1   population  22 non-null     int64
dtypes: int64(2)
memory usage: 480.0 bytes

In [9]:
df.describe()

              year    population
count    22.000000     22.000000
mean   2010.500000  22418.181818
std       6.493587   7100.411548
min    2000.000000  12400.000000
25%    2005.250000  16100.000000
50%    2010.500000  21800.000000
75%    2015.750000  27750.000000
max    2021.000000  33800.000000

In [12]:
df[df.population > 25000]

    year  population
14  2014       25800
15  2015       26100
16  2016       28300
17  2017       29600
18  2018       32100
19  2019       32500
20  2020       33200
21  2021       33800