# Projektstruktur
Data Science Projekte sollten einer fest vorgegebenen Projektstruktur folgen. Diese Projektstruktur wird üblicherweise im Team als feste Konvention vereinbart und alle Projekte des Teams folgen dieser Struktur.

Wir nutzen hier folgende Struktur:

<img src="../img/struktur.png" width="30%" align="center">
<br>

* Die nummerierten Ordner 01. 02. usw. enthalten die Jupyter Notebooks mit dem Code des Kurses.
* Der Ordner data enthält Daten, die für die Beispiele benötigt werden.
* Der Ordner img enthält Bilder, die in den Notesbooks angezeigt werden sollen.
* Die übrigen Ordner und Dateien dienen dem Betrieb der Anwendungen.

# Pandas

Damit Sie Daten für das maschinelle Lernen (gut) nutzen können, benötigen Sie eine Datenstruktur, in der Sie die Daten hinterlegen können.
Das Framework Pandas ist hierfür sehr gut geeignet, sofern die Datenmenge klein genug ist, um im Hauptspeicher Ihres Computers geladen zu werden. Dies ist für unser Beispiel der Fall.

Folgende wichtige Funktionen werden von Pandas bereits von Haus aus bereitgestellt[^1]:

* Laden von Daten aus unterschiedlichen Quellen (relationale Datenbank, Excel, CSV, ...).
* Berechnen von grundlegenden statistischen Werten:
    * Mittelwert, Median, Maximum oder Minimum einer Spalte.
    * Korrelationen zwischen Spaltenwerten.
    * Darstellung der Distribution von Werten in einer Spalte.
* Entfernen von Zeilen mit fehlenden Werten.
* Entfernen oder Hinzufügen von Spalten.
* Bereinigen von Daten, z.B. Entfernen von Nullwerten.
* Berechnungen mit Hilfe von Lambda-Funktionen auf einer ganzen Spalte ausführen.
* Daten können mit Hilfe weiterer Bibliotheken, wie Syborn, matplotlib und anderen visualisiert werden.


[^1]: Vgl. https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/

## Laden von Daten
Zunächst wollen wir die Daten des Beispiels aus dem Pfad data/house-prices-advanced-regression-techniques/train.csv laden:

In [1]:
# Die Pandas Bibliothek muss installiert sein und wird hier über den import Befehl geladen.
import pandas as pd

# Hinweis: Der Pfadname ergibt sich aus der Projektstruktur
df = pd.read_csv('../data/house-prices-advanced-regression-techniques/train.csv')

## Anzeige der Daten

Ein Pandas DataFrame (so heißt diese Datenstruktur) kann in einem Jupyter Notebook durch die schlichte Nennung (am Ende der Codezeile) angezeigt werden:

In [2]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

## Einen Überblick verschaffen: Basis-Informationen

DataFrames bieten einfache Funktionen zur Anzeige der wichtigsten Informationen. Das ist wichtig, um sich einen Überblick zu verschaffen:

In [3]:
# Allgemeine Informationen ausgeben:
# - Anzahl der Daten (Zeilen)
# - Anzahl der Spalten
# - Name und Datentyp der Spalten
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [4]:
# Dimensionen (Zeilen|Spalten) des DataFrames anzeigen:

df.shape

(1460, 81)

In [5]:
# Bestimmte Daten anzeigen

df.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [6]:
df.tail(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1450,1451,90,RL,60.0,9000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2009,WD,Normal,136000
1451,1452,20,RL,78.0,9262,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2009,New,Partial,287090
1452,1453,180,RM,35.0,3675,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2006,WD,Normal,145000
1453,1454,20,RL,90.0,17217,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Abnorml,84500
1454,1455,20,FV,62.0,7500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,185000
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [7]:
# Doppelte Zeilen finden

df[df.duplicated()]

Empty DataFrame
Columns: [Id, MSSubClass, MSZoning, LotFrontage, LotArea, Street, Alley, LotShape, LandContour, Utilities, LotConfig, LandSlope, Neighborhood, Condition1, Condition2, BldgType, HouseStyle, OverallQual, OverallCond, YearBuilt, YearRemodAdd, RoofStyle, RoofMatl, Exterior1st, Exterior2nd, MasVnrType, MasVnrArea, ExterQual, ExterCond, Foundation, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, Heating, HeatingQC, CentralAir, Electrical, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, PavedDrive, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, PoolQC, Fence, MiscFeature, MiscVal, MoSold, YrSold, SaleType, SaleCondition, SalePrice]
Index: []

[0 rows x 81 columns]

In [8]:
# Doppelte Zeilen löschen, jeweils das erste|letzte Element behalten.

df_no_duplicates = df.drop_duplicates(keep='first') # 'last'

## Grundlegende statistische Informationen

In [9]:
# Liefert eine gute Übersicht über wichtige statistische Informationen
# Das .T Attribut transponiert die Darstellung in eine besser lesbare Form
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Id,1460.0,730.500000,421.610009,1.0,365.75,730.5,1095.25,1460.0
MSSubClass,1460.0,56.897260,42.300571,20.0,20.00,50.0,70.00,190.0
LotFrontage,1201.0,70.049958,24.284752,21.0,59.00,69.0,80.00,313.0
LotArea,1460.0,10516.828082,9981.264932,1300.0,7553.50,9478.5,11601.50,215245.0
OverallQual,1460.0,6.099315,1.382997,1.0,5.00,6.0,7.00,10.0
OverallCond,1460.0,5.575342,1.112799,1.0,5.00,5.0,6.00,9.0
YearBuilt,1460.0,1971.267808,30.202904,1872.0,1954.00,1973.0,2000.00,2010.0
YearRemodAdd,1460.0,1984.865753,20.645407,1950.0,1967.00,1994.0,2004.00,2010.0
MasVnrArea,1452.0,103.685262,181.066207,0.0,0.00,0.0,166.00,1600.0
BsmtFinSF1,1460.0,443.639726,456.098091,0.0,0.00,383.5,712.25,5644.0
BsmtFinSF2,1460.0,46.549315,161.319273,0.0,0.00,0.0,0.00,1474.0
BsmtUnfSF,1460.0,567.240411,441.866955,0.0,223.00,477.5,808.00,2336.0
TotalBsmtSF,1460.0,1057.429452,438.705324,0.0,795.75,991.5,1298.25,6110.0
1stFlrSF,1460.0,1162.626712,386.587738,334.0,882.00,1087.0,1391.25,4692.0
2ndFlrSF,1460.0,346.992466,436.528436,0.0,0.00,0.0,728.00,2065.0
LowQualFinSF,1460.0,5.844521,48.623081,0.0,0.00,0.0,0.00,572.0
GrLivArea,1460.0,1515.463699,525.480383,334.0,1129.50,1464.0,1776.75,5642.0
BsmtFullBath,1460.0,0.425342,0.518911,0.0,0.00,0.0,1.00,3.0
BsmtHalfBath,1460.0,0.057534,0.238753,0.0,0.00,0.0,0.00,2.0
FullBath,1460.0,1.565068,0.550916,0.0,1.00,2.0,2.00,3.0
HalfBath,1460.0,0.382877,0.502885,0.0,0.00,0.0,1.00,2.0
BedroomAbvGr,1460.0,2.866438,0.815778,0.0,2.00,3.0,3.00,8.0
KitchenAbvGr,1460.0,1.046575,0.220338,0.0,1.00,1.0,1.00,3.0
TotRmsAbvGrd,1460.0,6.517808,1.625393,2.0,5.00,6.0,7.00,14.0
Fireplaces,1460.0,0.613014,0.644666,0.0,0.00,1.0,1.00,3.0
GarageYrBlt,1379.0,1978.506164,24.689725,1900.0,1961.00,1980.0,2002.00,2010.0
GarageCars,1460.0,1.767123,0.747315,0.0,1.00,2.0,2.00,4.0
GarageArea,1460.0,472.980137,213.804841,0.0,334.50,480.0,576.00,1418.0
WoodDeckSF,1460.0,94.244521,125.338794,0.0,0.00,0.0,168.00,857.0
OpenPorchSF,1460.0,46.660274,66.256028,0.0,0.00,25.0,68.00,547.0
EnclosedPorch,1460.0,21.954110,61.119149,0.0,0.00,0.0,0.00,552.0
3SsnPorch,1460.0,3.409589,29.317331,0.0,0.00,0.0,0.00,508.0
ScreenPorch,1460.0,15.060959,55.757415,0.0,0.00,0.0,0.00,480.0
PoolArea,1460.0,2.758904,40.177307,0.0,0.00,0.0,0.00,738.0
MiscVal,1460.0,43.489041,496.123024,0.0,0.00,0.0,0.00,15500.0
MoSold,1460.0,6.321918,2.703626,1.0,5.00,6.0,8.00,12.0
YrSold,1460.0,2007.815753,1.328095,2006.0,2007.00,2008.0,2009.00,2010.0
SalePrice,1460.0,180921.195890,79442.502883,34900.0,129975.00,163000.0,214000.00,755000.0

# Weitere Infos und grundlegende Operationen
## Umgang mit Spalten

In [10]:
# Spaltennamen
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [11]:
# Spalte selektieren
df[['Fireplaces']]

      Fireplaces
0              0
1              1
2              1
3              1
4              1
...          ...
1455           1
1456           2
1457           2
1458           0
1459           0

[1460 rows x 1 columns]

In [12]:
# mehrere Spalten selektieren
df[['Fireplaces','GarageType']]

      Fireplaces GarageType
0              0     Attchd
1              1     Attchd
2              1     Attchd
3              1     Detchd
4              1     Attchd
...          ...        ...
1455           1     Attchd
1456           2     Attchd
1457           2     Attchd
1458           0     Attchd
1459           0     Attchd

[1460 rows x 2 columns]

In [13]:
# Neuer DataFrame mit einem Subset von Spalten
df_subset = df[['Fireplaces','SalePrice']].copy()
df_subset.shape

(1460, 2)

In [14]:
# spalten umbenennen
df_subset.rename(columns={
        'Fireplaces': 'Anzahl Kamine', 
        'SalePrice': 'Verkaufspreis'
    }, inplace=True)
df_subset.columns

Index(['Anzahl Kamine', 'Verkaufspreis'], dtype='object')

In [15]:
# Spalten nach Nummer selektieren:
df.iloc[:,3] # vierte Spalte

0       65.0
1       80.0
2       68.0
3       60.0
4       84.0
        ...
1455    62.0
1456    85.0
1457    66.0
1458    68.0
1459    75.0
Name: LotFrontage, Length: 1460, dtype: float64

In [16]:
# Spalten-Range - Spalten 6-8 (mit Index 5..7)
df.iloc[:,5:8]

     Street Alley LotShape
0      Pave   NaN      Reg
1      Pave   NaN      Reg
2      Pave   NaN      IR1
3      Pave   NaN      IR1
4      Pave   NaN      IR1
...     ...   ...      ...
1455   Pave   NaN      Reg
1456   Pave   NaN      Reg
1457   Pave   NaN      Reg
1458   Pave   NaN      Reg
1459   Pave   NaN      Reg

[1460 rows x 3 columns]

## Umgang mit Zeilen

In [17]:
# Range von Zeilen selektieren
df[df.index.isin(range(2,10))]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [18]:
df.iloc[0] # Erste Zeile
df.iloc[1] # Zweite Zeile
df.iloc[-1] # Letzte Zeile

Id                 1460
MSSubClass           20
MSZoning             RL
LotFrontage        75.0
LotArea            9937
                  ...
MoSold                6
YrSold             2008
SaleType             WD
SaleCondition    Normal
SalePrice        147500
Name: 1459, Length: 81, dtype: object

In [19]:
df_subset = df.iloc[0:5,3:9].copy() # Zeilen 1 bis 5 (mit Index 0..4) und Spalten vier bis neun (mit Index 3..8)
print ("Dimension des Subsets: ", df_subset.shape)
df_subset

Dimension des Subsets:  (5, 6)

   LotFrontage  LotArea Street Alley LotShape LandContour
0         65.0     8450   Pave   NaN      Reg         Lvl
1         80.0     9600   Pave   NaN      Reg         Lvl
2         68.0    11250   Pave   NaN      IR1         Lvl
3         60.0     9550   Pave   NaN      IR1         Lvl
4         84.0    14260   Pave   NaN      IR1         Lvl

In [20]:
# Zeilen filtern - Daten bei denen der Hauspreis > als 700-tausend ist.
df[df.SalePrice > 700000]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
691,692,60,RL,104.0,21535,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2007,WD,Normal,755000
1182,1183,60,RL,160.0,15623,Pave,NaN,IR1,Lvl,AllPub,...,555,Ex,MnPrv,NaN,0,7,2007,WD,Abnorml,745000

In [21]:
# Durch die Filter-Operation wird das Original nicht verändert!!!
print(df.shape)

(1460, 81)

In [22]:
df[df.SalePrice > 700000].describe().T

,count,mean,std,min,25%,50%,75%,max
Id,2.0,937.5,347.189430,692.0,814.75,937.5,1060.25,1183.0
MSSubClass,2.0,60.0,0.000000,60.0,60.00,60.0,60.00,60.0
LotFrontage,2.0,132.0,39.597980,104.0,118.00,132.0,146.00,160.0
LotArea,2.0,18579.0,4180.415290,15623.0,17101.00,18579.0,20057.00,21535.0
OverallQual,2.0,10.0,0.000000,10.0,10.00,10.0,10.00,10.0
OverallCond,2.0,5.5,0.707107,5.0,5.25,5.5,5.75,6.0
YearBuilt,2.0,1995.0,1.414214,1994.0,1994.50,1995.0,1995.50,1996.0
YearRemodAdd,2.0,1995.5,0.707107,1995.0,1995.25,1995.5,1995.75,1996.0
MasVnrArea,2.0,585.0,827.314934,0.0,292.50,585.0,877.50,1170.0
BsmtFinSF1,2.0,1775.5,453.255447,1455.0,1615.25,1775.5,1935.75,2096.0
BsmtFinSF2,2.0,0.0,0.000000,0.0,0.00,0.0,0.00,0.0
BsmtUnfSF,2.0,644.5,487.196572,300.0,472.25,644.5,816.75,989.0
TotalBsmtSF,2.0,2420.0,33.941125,2396.0,2408.00,2420.0,2432.00,2444.0
1stFlrSF,2.0,2427.5,23.334524,2411.0,2419.25,2427.5,2435.75,2444.0
2ndFlrSF,2.0,1968.5,136.471609,1872.0,1920.25,1968.5,2016.75,2065.0
LowQualFinSF,2.0,0.0,0.000000,0.0,0.00,0.0,0.00,0.0
GrLivArea,2.0,4396.0,113.137085,4316.0,4356.00,4396.0,4436.00,4476.0
BsmtFullBath,2.0,0.5,0.707107,0.0,0.25,0.5,0.75,1.0
BsmtHalfBath,2.0,0.5,0.707107,0.0,0.25,0.5,0.75,1.0
FullBath,2.0,3.0,0.000000,3.0,3.00,3.0,3.00,3.0
HalfBath,2.0,1.0,0.000000,1.0,1.00,1.0,1.00,1.0
BedroomAbvGr,2.0,4.0,0.000000,4.0,4.00,4.0,4.00,4.0
KitchenAbvGr,2.0,1.0,0.000000,1.0,1.00,1.0,1.00,1.0
TotRmsAbvGrd,2.0,10.0,0.000000,10.0,10.00,10.0,10.00,10.0
Fireplaces,2.0,2.0,0.000000,2.0,2.00,2.0,2.00,2.0
GarageYrBlt,2.0,1995.0,1.414214,1994.0,1994.50,1995.0,1995.50,1996.0
GarageCars,2.0,3.0,0.000000,3.0,3.00,3.0,3.00,3.0
GarageArea,2.0,822.5,13.435029,813.0,817.75,822.5,827.25,832.0
WoodDeckSF,2.0,276.5,149.199531,171.0,223.75,276.5,329.25,382.0
OpenPorchSF,2.0,64.0,19.798990,50.0,57.00,64.0,71.00,78.0
EnclosedPorch,2.0,0.0,0.000000,0.0,0.00,0.0,0.00,0.0
3SsnPorch,2.0,0.0,0.000000,0.0,0.00,0.0,0.00,0.0
ScreenPorch,2.0,0.0,0.000000,0.0,0.00,0.0,0.00,0.0
PoolArea,2.0,277.5,392.444264,0.0,138.75,277.5,416.25,555.0
MiscVal,2.0,0.0,0.000000,0.0,0.00,0.0,0.00,0.0
MoSold,2.0,4.0,4.242641,1.0,2.50,4.0,5.50,7.0
YrSold,2.0,2007.0,0.000000,2007.0,2007.00,2007.0,2007.00,2007.0
SalePrice,2.0,750000.0,7071.067812,745000.0,747500.00,750000.0,752500.00,755000.0

## Spalten (dauerhaft) löschen

In [23]:
df_demo = df.copy() # Wir wollen nicht unser Original bearbeiten
print (df_demo.shape)

del df_demo['Fireplaces']

# Durch den del Befehl werden die Spalten dauerhaft gelöscht!
print (df_demo.shape)

(1460, 81)
(1460, 80)

## Zeilen (dauerhaft) löschen

In [24]:
df_demo = df.copy() # Wir wollen nicht unser Original bearbeiten
indexNames = df[(df['SalePrice'] >= 300000) & (df['SalePrice'] <= 350000)].index

print(df_demo.shape)

df_demo.drop(indexNames, inplace=True)

print(df_demo.shape)

print (df_demo[(df_demo['SalePrice'] >= 300000) & (df_demo['SalePrice'] <= 350000)].shape) # Die gelöschen Zeilen sind endgültig entfernt

(1460, 81)
(1399, 81)
(0, 81)